<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% seo %}
  <script type="text/javascript" src="/assets/js/blazy.min.js"</script>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  <script type="text/javascript" id="MathJax-script" async
          src="/assets/js/MathJax/es5/tex-mml-chtml.js">
  </script>

  <script>
    (function() {
        var bLazy = new Blazy({
            // Options
        });
    })();
  </script>

</html>

